.overlays {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.overlay-backdrop {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    display: flex;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.overlay {
    color: var(--text);
    padding: 0;
    border-radius: 10px;
    width: min(600px, 90vw);
    height: auto;
    max-height: 90vh;
    padding: 0 30px 20px;
    border: 3px solid var(--border);
    background: linear-gradient(180deg, var(--background-top) 0%, var(--background-bottom) 100%);
    box-shadow: 0 0 40px 0 var(--background-top);
    border-radius: 10px;
    box-sizing: border-box;
    overflow: auto;
}

.overlay-title {
    margin-top: 20px;
    font-size: 3em;
    color: var(--highlight);
    text-shadow: 0 0 10px var(--primary);
}

.overlay-title::before {
    content: "★ ";
}

.overlay-title::after {
    content: " ★";
}

.overlay-text {
    margin: -10px 0 10px;
    font-size: 1.5em;
}

.overlay-link {
    margin: 20px 0 30px;
    font-size: 1.5em;
    color: var(--highlight);
}

.button-row {
    gap: 10px;
    display: flex;
    flex-direction: row-reverse;
}

.button-theme {
    width: 200px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--text);
    text-decoration: none;
    font-size: 2em;
}

.button-theme-row {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}