@if (overlayState$ | async; as state) {
@if (state.show) {
<div class="overlays">
    <div class="overlay-backdrop">
        @if (state.type === 'info') {
        <div class="overlay">
            <h1 class="overlay-title">{{ state.title.toUpperCase() }}</h1>
            <p class="overlay-text">{{ state.message }}</p>
            <div class="button-row">
                <a class="button-primary" (click)="close()">Close</a>
            </div>
        </div>
        } @else if (state.type === 'theme') {
        <div class="overlay">
            <h1 class="overlay-title">THEME</h1>
            <p class="overlay-text">Choose your theme:</p>
            <a class="button-theme">CCP</a>
            <div class="button-row">
                <a class="button-primary" (click)="close()">Close</a>
            </div>
        </div>
        }
    </div>
</div>
}
}