:root {
    --background: #000;
    --background-top: #630000a6;
    --background-bottom: #e600002a;
    --border: #5f0000a6;
    --text: #fff;
    --highlight: #ffb200;
    --primary: #8f0000;
}

* {
    user-select: none;
}

body {
    margin: 20px;
    padding: 0;
    background-color: var(--background);
    font-size: 0.9em;
    color: var(--text);
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    word-break: normal;
}

a {
    color: var(--text);
    text-decoration: none;
}

a:hover {
    color: var(--highlight);
    text-decoration: underline;
    cursor: pointer;
}

.page-title{
    font-size: 2em;
    color: var(--highlight);
    text-shadow: 0 0 50px var(--primary);
}

.page-title::before {
    content: "★ ";
}

.page-title::after {
    content: " ★";
}

.page-container {
    font-size: 1.3em;
}

.button-primary {
    font-size: 1.3em;
    background-color: var(--highlight);
    color: var(--background);
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0;
    border: 3px solid var(--highlight);
}

.button-primary:hover {
    background-color: var(--primary);
    color: var(--highlight);
    text-decoration: none;
}

.button-secondary {
    background-color: var(--background-top);
    color: var(--highlight);
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0;
    border: 3px solid var(--border);
}